{%extends "base.html"%}

{%block content%} 
  <h1> Adverbs or Adjectives? </h1>

  <form method="POST">
      {{ form1.hidden_tag() }}
      {{ form1.gap1.label(class="form-label") }}
      {{ form1.gap1(class="form-control", placeholder="(loud)") }}
      <br>
      {{ form1.submit1(class="btn btn-secondary") }}
  </form>
  <div> {{ message1 }} </div>

  <br>

  <form method="POST">
    {{ form2.hidden_tag() }}
    {{ form2.gap2.label(class="form-label") }}
    {{ form2.gap2(class="form-control", placeholder="(quiet)") }}
    <br>
    {{ form2.submit2(class="btn btn-secondary") }}
  </form>
<div> {{ message2 }} </div>


{%endblock%}

  





