{%extends "base.html"%}


{%block content%} 
<h1> Adverbs or Adjectives? </h1>



{%if error_statement%}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>
        {{error_statement}}
  </strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{%endif%}




<form action="/grammar/forms" method="POST">
<form class = "form-group">
  <div> 1. She cries </div>
  <input type="text" class="form-control" placeholder="(loud)" "name=gap1">
</div>
<button type="submit" class="btn btn-secondary">Check!</button>
</form>

<form class = "form-group">
  <div> 2. Mike is quite </div>
  <input type="text" class="form-control" placeholder="(quiet)" "name=gap1">
</div>
<button type="submit" class="btn btn-secondary">Check!</button>
</form>


{%endblock%}

  





