{%extends "base.html"%}


{%block content%} 
<br> </br>
<h2> Welcome to English grammar! </h2>
<br>

<img class="backgroundImage" src="/static/pics/books3.jpg">
<main>
    <br> 

   
    <div class="row row-cols-3 g-3">
      <div class="col">
        <div class="card text-center"style="width:20rem; height:20rem;">
          <img src='/static/pics/learning3.jpg' class="card-img-top"
            alt='people practising online'/>
          <div class="card-body">
            <h5 class="card-title">Mit oder ohne: loud oder loudly?</h5>
            <p class="card-text">
              <a href="/Englisch/grammar/adverbs" class="btn btn-info">adverb or adjective?</a>
            </p>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card text-center"style="width:20rem; height:20rem;">
          <img src="/static/pics/learning4.jpg" class='card-img-top'
            alt="English book"/>
          <div class="card-body">
            <h5 class="card-title">Komparativ, Superlativ: Groß, größer, am größten?</h5>
            <p class="card-text">
              <a href="/" class="btn btn-info">comparing in English</a>
            </p>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card text-center"style="width:20rem; height:20rem;">
          <img src="/static/pics/tenses3.jpg" class="card-img-top"
            alt="clock"/>
          <div class="card-body">
            <h5 class="card-title">Futur, Gegenwart und Vergangenheit</h5>
            <p class="card-text">
              <a href="/" class="btn btn-info">English tenses</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center"style="width:20rem; height:20rem;">
          <img src="/static/pics/learning7.jpg" class="card-img-top"
            alt="Lerngruppe"/>
          <div class="card-body">
            <h5 class="card-title">Indirekte Rede: Er sagt, sie sagt.</h5>
            <p class="card-text">
              <a href="/" class="btn btn-info">reported speech</a>
            </p>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card text-center"style="width:20rem; height:20rem;">
          <img src="/static/pics/learning8.jpg" class='card-img-top'
            alt='dictionary'/>
          <div class="card-body">
            <h5 class="card-title">Passiv- oder Aktivkonstruktion?</h5>
            <p class="card-text">
              <a href="/" class="btn btn-info">the passive voice</a>
            </p>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card text-center"style="width:20rem; height:20rem;">
          <img src="/static/pics/question.jpg" class='card-img-top'
            alt="question mark"/>
          <div class="card-body">
            <h5 class="card-title">Mehr Grammatik zum Üben demnächst...</h5>
            <p class="card-text">
              <a href="/" class="btn btn-info">coming soon</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    

</main>

{%endblock%} 

