{%extends "base.html"%}


{%block content%} 
<br> </br>
<h2> Welcome to English grammar! </h2>
<br> </br>

<ul class="list-group list-group-flush">
  
    <li <a class="list-group-item"> 
        <a href="/Englisch/grammar/adverbs">adverb or adjective?</a> </li>
    <li <a class="list-group-item">
      <a href="/Englisch/grammar/adverbs">reported speech</a> </li>
    <li <a class="list-group-item">
     <a href="/Englisch/grammar/adverbs">the passive voice</a> </li>
    <li <a class="list-group-item">
     <a href="/Englisch/grammar/adverbs">comparing</a> </li>
    <li <a class="list-group-item">
    <a href="/Englisch/tenses">tenses</a> </li>
  </ul>

{%endblock%} 

