{%extends "base.html"%}
{%block title%} übe Deutsch {%endblock%}
{%block content%} 


<img class="backgroundImage" src="/static/pics/Grammatik1.jpg">
<main>
    <br> </br>
    <h2>Was möchtest du üben?</h2>

      <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="{{url_for ('static',filename='pics/Grammatik1.jpg')}}" class="card-img-top" alt="magnifying glass"/>
              <div class="card-body">
                <h5 class="card-title">Grammatik</h5>
                <p class="card-text">
                  Vokabeln oder Grammatik - hier kannst du Deutsch online üben
                </p>
                <a href="{{url_for ("Grammatik")}}" class="btn btn-info">zu den Übungen</a>
              </div>
            </div>
          </div>
        
        
          <div class="col">
            <div class="card h-100">
              <img src="{{url_for ('static',filename='pics/Zeit2.jpg')}}" class="card-img-top" alt="road sign"/>
              <div class="card-body">
                <h5 class="card-title">Wortschatz</h5>
                <p class="card-text">Vokabeln oder Grammatik - hier kannst du Englisch online üben.</p>
                <a href="{{url_for ("Wortschatz")}}" class="btn btn-info">zu den Übungen</a>
              </div>
            </div>
          </div>

    
</main>
    

{%endblock%}
